.container-header{
    display: flex;
    flex-direction: column;
    margin: 2em;
    border-radius: var(--border-radius-main);
    background-color: var(--clr-green-main);
}

.title-picture{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title{
    text-align: left;
}

.photo-profil{
    border-radius: var(--border-radius-main);
}

.content-list{
    margin-top: 0.5em;
    margin-left: 3em;
    text-align: left;

}
h5{
    font-size: 1.1em;
    margin: 0.2em;
}


.direction-into-page{
    text-decoration: underline;
    cursor: pointer;

}
.direction-into-page:hover{
    color: var(--clr-green-scd);
}
